.timer{
    width: 100%;
    height: 0vh;
    background-color: beige;
    display: flex;
    justify-content: center;
    text-align: center;
}
.container{
    padding: 25px;
}
.timer_container{
    background-color: aqua;
    width: 20vw;
    height: 10vw;
    padding: 1rem 6rem;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem -0.7rem rgb(0,0,0,0.4);
    block-size: auto;
}
.stop,.restart{
    margin-top: 18px;
    margin-bottom: -1vw;
    color: #fff;
    font-size: 14px;
    background-color: rgb(157, 245, 213);
    width: 90px;
    height: 47px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
.stop{
    margin-left: 11px;
}
